<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.chinatobacco.dao.CityDao">
	<select id="selectAll" resultType="City">
		select * from city where provinceId = #{provinceId}
	</select>
	<select id="selectOne" resultType="City">
		select * from city where
		cityId=#{cityId}
	</select>

</mapper>